<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet"  type='text/css' media='screen' href="/static/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NEWS CLASSIFICATION</title>
</head>
<body>
    <div class="container">
      <div class="title"><marquee><b>EMAIL CLASSIFICATIONS</b></marquee></div>
      <div class="content">
        <form action="{{url_for('choice')}}" method="POST">
          <center><div class="user-details">
            <div class="input-box">
              <table border="0">
                <tr>
                    <td><b>1.Classify Using Knn</b></td>
                </tr>
                <tr>
                    <td><b>2.Classify using Mnb</b></td>
                </tr>
                <tr>
                    <td><b>3.Exit</b></td>
                </tr>
              </table>
              <span class="details"><b>Enter your choice</b></span>
              <input type="text" name="news" placeholder="Your Text" required>
            </div>
          </div></center>
          <center><div class="button">
            <input type="submit" value="Predict"><br><br>
          </div>
          <br></center>
          

          <center><div><b>{{ pred }}</b></div></center>
        </form>
      </div>
    </div>
    </form>
  </div>
  

</body>
</html>
